.locations,
.amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    border-right: 1px solid #DDDDDD;
    position: relative;
}

.popover {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}
